<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>
  {% block content %}
  <div class="shadow-wrap">
    <div class="form-wrap">
      <h3>Login</h3>
      <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.as_p }} 
        <button type="submit" name="login">Submit</button>
      </form>
      <a class="signup-link" href="{% url 'authView' %}">Signup</a>
    </div>
  </div>
  {% endblock content %}
</body>
</html>
